/***** Tag Selectors *****/

body{
    margin: 0;
    font-family: 'Red Hat Mono', monospace;
    text-align: center;
    background-color: #2E4F4F;
    color: black;
}

h1{
    margin:0;
    font-family: 'Quicksand', sans-serif;
}

h2{
    margin: 0;
    font-family: 'Alata', sans-serif;
}

h3{
    margin: 0;
}

hr{
    height:  3px;
    background-color: #F6F6F6;
    border-style: none;
}

/***** Class Selectors *****/

.top-container{
    position: relative;
    background: linear-gradient(180deg, #CBE4DE, #0E8388, #181823 70%);
}

.mid-container{
    color: white;
}

.bot-container{
    background-color: #CBE4DE;
    width: 100%;
    padding: 35px;
}

.icon-top{
    width: 180px;
    position: absolute;
    top: 15px;
    right: 300px;
}

.icon-bot{
    width: 180px;
    position: absolute;
    bottom: 100px;
    left: 170px;
}

.mountain{
    position: relative;
    z-index: 0;
    left: 0%;
    top: 132px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.name{
    position: relative;
    bottom: 375px;
    right: 200px;
    font-size: 3em;
    background-color: white;
    color: #181823;
    display: inline-block;
    padding: 2.5px 20px;
    border-radius: 40px;
}

.subtitle{
    position: relative;
    bottom: 250px;
    right: 150px;
    font-size: 20px;
}

.profession{
    text-decoration: underline;
}

.profile{
    margin: 50px 0px 80px;
}

.profile-img{
    width: 150px;
}

.skills{
    margin: 50px 0px 80px;
}

.skill-row{
    display: inline-block;
    margin: 70px 100px;
}

.skill1-img{
    width: 100px;
}

.skill2-img{
    width: 100px;
}

.skill3-img{
    width: 100px;
}

.software{
    margin: 50px 0px 80px;
}

.software-row{
    width: 60%;
    margin: 80px auto;
}


.software-row :nth-child(even){
    text-align: left;
}

.software-row :nth-child(odd){
    text-align: right;
}

.software-row :nth-child(1){
    text-align: center;
}

.software-h3{
    text-align: left;
}

.software-img{
    height: 100px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    margin: 0px 20px;
}

.si-left{
    float: left;
}

.si-right{
    float: right;
}

.footer-hr{
    margin: 0;
}

.get-in-touch{
    color: #2E4F4F;
}

.contact-me{

}

.copyright{
    margin: 20px 20px 0px;
    color: #181823;
}

.together{
    margin: 10px 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #181823;
}

.together :hover{
    font-family: cursive;
}

.btn {
    background: #181823;
    background-image: linear-gradient(to bottom, #181823, #181823);
    border-radius: 28px;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    text-decoration: none;
    margin: 10px 0px 20px;
  }
  
  .btn:hover {
    background: #181823;
    background-image: linear-gradient(to bottom, #181823, #181818);
    text-decoration: none;
  }

  .footer-link{
    text-decoration: none;
    color: black;
    margin: 25px 10px 15px;
  }