/****** Selector tags ******/

body{
    background-color: #181823;
    
}
/***** Headings *****/
h1{
    color: #537FE7;
    font: italic 3em "Century Gothic", serif;
}
h2{
    color: #537FE7;
    font: bold 1.5em "Candara";
     
}
h3{
    color:#537FE7;
    font: bold 1.5em "Candara";
}

p{
    color: #E9F8F9;
    font: 1em "Consolas";
}



a{
    color: #C0EEF2;
}

th{
    color: #E9F8F9;
    font-family: "Consolas", monospace;
}

td{
    color: #E9F8F9;
    font-family: "Consolas", monospace;
}

ul{
    color: #E9F8F9;
    font-family: "Consolas", monospace;
    list-style-type: square;
}

ol{
    color:#E9F8F9;
    font-family: "Consolas", monospace;
}

/****** Class selectors ******/
.work-experience{
    border-style: dotted;
    border-color:#89C4E1;
    text-align: center;
}

.skills{
    width: 40%;
    background-color: #537FE7;
}

.skills-internal{
    border-style: dotted;
    border-color:#181823;
    border-spacing: 10px;
    text-align:left;
}

/****** ID selectors (casi no se usa) ******/
#boss{
    background-color:#89C4E1;
}