/****** Selector tags ******/

body{
    background-color: #332C39;
    
}
/***** Headings *****/
h1{
    color: #C92C6D;
    font: italic 3em "Century Gothic", serif;
}
h2{
    color: #C92C6D;
    font: bold 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
h3{

}

p{
    color: #F0EEED;
}

hr{
    height: 10px;
    width: 50%;
    background-color: #609EA2;
    border-style: none;
    border-radius: 10px;
}

a{
    color: #89C4E1;
}

th{
    color: #F0EEED;
}

td{
    color: #F0EEED;
}


li{
    color: #F0EEED;
}


/****** Class selectors ******/
.default-text{

}

/****** ID selectors (casi no se usa) ******/
#boss{
    background-color:#89C4E1;
}