
body{
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    background-color: black;
    margin: 0;
}

h1{
    margin: 0;
}

a{
    color: cyan;
}

hr{
    height: 10px;
    width: auto;
    
    border-style: none none dashed;
    border-color: white;
    border-width: 3px;
}

.space-img{
    position: fixed;
    z-index: -1;
    width: auto;
    height: auto;
}

.main-div{
    margin: auto;
    background-color: #0e0418ea;
    width: 80%;
    padding: 30px;
}

.tetromino-Img{
    margin: 0px 50px;
    background-repeat: repeat;
}

.tetris-block{
    width: 50px;
    height: 50px;
    border: solid 3px;
    position: absolute;
}

/***** I Block properties *****/
.I-parent{
    position: relative;
    margin-top: 300px;
}

.I-block1{
    background-color: aqua;
    top: -250px;
    left: 200px;
}

.I-block2{
    background-color: aqua;
    top: -200px;
    left: 200px;
}

.I-block3{
    background-color: aqua;
    top: -150px;
    left: 200px;
}

.I-block4{
    background-color: aqua;
    top:-100px;
    left: 200px;
}

/***** J Block properties *****/
.J-parent{
    position: relative;
    margin-top: 200px;  
}

.J-block1{
    background-color: blue;
    top: -150px;  
    left: 200px;   
}

.J-block2{
    background-color: blue;
    top: -100px;
    left: 200px; 
}

.J-block3{
    background-color: blue;
    top: -100px;
    left: 253px;
}

.J-block4{
    background-color: blue;
    top: -100px;
    left: 303px;
}

/***** L Block properties *****/
.L-parent{
    position: relative;
    margin-top: 250px; 
}

.L-block1{
    background-color: orange;
    top: -200px;
    left: 200px;
}

.L-block2{
    background-color: orange;
    top: -150px;
    left: 200px; 
}

.L-block3{
    background-color: orange;
    top: -100px;
    left: 200px; 
}

.L-block4{
    background-color: orange;
    top: -100px;
    left: 253px;
}

/***** O Block properties *****/
.O-parent{
    position: relative;
    margin-top: 200px; 
}

.O-block1{
    background-color: yellow;
    top: -150px;
    left: 200px;  
}

.O-block2{
    background-color: yellow;
    top: -150px;
    left: 250px;
}

.O-block3{
    background-color: yellow;
    top: -100px;
    left: 200px;  
}

.O-block4{
    background-color: yellow;
    top: -100px;
    left: 250px;
}

/***** S Block properties *****/
.S-parent{
    position: relative;
    margin-top: 200px;
}

.S-block1{
    background-color: green;
    top: -100px;
    left: 200px;   
}

.S-block2{
    background-color: green;
    top: -100px;
    left: 250px;
}

.S-block3{  
    background-color: green;
    top: -153px;
    left: 250px;
}

.S-block4{
    background-color: green;
    top: -153px;
    left: 303px;
}

/***** T Block properties *****/
.T-parent{
    position: relative;
    margin-top: 200px;  
}

.T-block1{
    background-color: purple;
    top: -100px;
    left: 200px; 
}

.T-block2{
    background-color: purple;
    top: -100px;
    left: 253px;
}

.T-block3{  
    background-color: purple;
    top: -100px;
    left: 306px;
}

.T-block4{
    background-color: purple;
    top: -153px;
    left: 253px;
}

/***** Z Block properties *****/
.Z-parent{
    position: relative;
    margin-top: 200px; 
}

.Z-block1{
    background-color: red;
    top: -150px;
    left: 200px;  
}

.Z-block2{
    background-color: red;
    top: -150px;
    left: 250px;
}

.Z-block3{  
    background-color: red;
    top: -97px;
    left: 250px;
}

.Z-block4{
    background-color: red;
    top: -97px;
    left: 303px;
}